@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: spinner 1.5s linear infinite;
  margin-left: 5px;
}

.visually-hidden {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

.checkbox .arrow--open {
  transition: transform 0.3s ease-in-out;
  transform: rotate(90deg);
  vertical-align: text-bottom;
}

.checkbox .arrow--closed {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
  vertical-align: text-bottom;
}

.tree-leaf-list-item--selected .checkbox-icon,
.tree-node-group--selected .checkbox-icon,
.tree-node-group--expanded .tree-node--selected .checkbox-icon,
.tree-node--selected .tree-node-group--selected .checkbox-icon,
/* .tree-branch-wrapper .tree-node--expanded .checkbox-icon, */
.tree-branch-wrapper .tree-node--selected .checkbox-icon {
  /* color: rgb(47, 126, 176) !important; */
  border: none
}

.tree-node--selected:focus-visible,
.tree-leaf-list-item--selected:focus-visible,
.tree-branch-wrapper:focus-visible,
.tree-node:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* .tree-leaf-list-item--selected  */
/* .tree-node .checkbox-icon {
  color: rgb(47, 126, 176) !important; 
}*/

/* {
  color: rgb(47, 126, 176) !important;
  border: none
}

 {
  color: rgb(47, 126, 176) !important;
  border: none
} */

.checkbox-icon {
  color: #57575712;
  border: 0px solid #0000002b
}

.text-icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.tree {
  list-style: none;
  padding-left: 3px;
}

.tree-node {
  display: flex;
  gap: 5px;
  align-items: center;
  min-height: 0px;

}

.tree-node-group {
  list-style: none;
  padding-left: 3px;
}

/* .crud-checkbox-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.crud-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
} */

.crud-checkbox-list {
  display: block;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}

.crud-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

/* .crud-dropdown-container {} */

.checkbox-icon {
  vertical-align: text-top;
}

.crud-checkbox-label {
  vertical-align: text-bottom;
}

/* --dropdown css-- */
/* .crud-dropdown-container {} */

.crud-dropdown-text {
  position: relative;
  cursor: pointer;
}

.crud-dropdown-content {
  position: absolute;
  /* top: 85%;
  right: 0.5%; */
  border: 1px solid rgba(128, 128, 128, 0.288);
  background-color: var(--dropdown-bgcolor);
  color: var(--dropdown-color);
  box-shadow: var(--dropdown-boxshadow);
  z-index: 1;
  padding: 8px;
  border-radius: 4px;
  min-width: 200px;
}


/* .isSelected {
  color: rgb(44, 134, 213) !important;
  background-color: white !important;
}

.isHalfelected {
  color: rgb(44, 134, 213) !important;
  background-color: white !important;
}

.noneSelected {
  color: white !important;
  border: 1px solid rgba(128, 128, 128, 0.2) !important;
} */



/* --Sidebar AsynTreeMenu-- */
.sidebar-asyn-menu .tree-node {
  display: block;
  padding: 5px 5px 0px 0px;
}

.sidebar-asyn-menu .tree {
  margin-left: 0px;
  height: auto;
}

/* .checkbox .arrow--open {
  transform: rotate(90deg);
} */

.sidebar-asyn-menu .async-tree-menu-container {
  width: 250px;
}

.sidebar-asyn-menu .async-tree-menu-container ul,
.sidebar-asyn-menu .async-tree-menu-container li {
  list-style: none;
}

.sidebar-asyn-menu .tree-node--expanded .tree-node-group--expanded {
  max-height: 1000px;
  transition: max-height 0.9s ease-in-out;
}

.sidebar-asyn-menu .async-tree-menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 3px;
}

.async-tree-menu-selected-branch-list {
  background-color: aqua !important;
}

.sidebar-asyn-menu .async-tree-menu-list-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-asyn-menu .async-tree-menu-list-text-container .menu-name {
  font-size: 16px;
}

.sidebar-asyn-menu .async-tree-menu-list-text-container .menu-icon {
  font-size: 16px;
}

.async-tree-menu-list:hover {
  background: rgb(246, 246, 246);
  border-radius: 3px;
  padding: 3px;
}

/* .tree-leaf-list-item:hover {
  background: rgba(194, 194, 194, 0.1);
} */

.async-tree-menu-list:active {
  background: rgba(102, 102, 102, 0.3);
}

.async-tree-menu-selected-list {
  background-color: rgb(228, 227, 227);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
}

/* {
  color: rgb(47, 126, 176) !important;
  border: none
} */

/* .crud-checkbox-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.crud-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
} */