.section-container {
    padding: 10px;
    margin-top: 10px;
}

.palmyra-form-section-header-container {
    font-weight: bold;
    text-align: left;
    background-color: white;
    /* background:
        radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    cursor: pointer;
    font-size: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.section-header-info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: max-content;
}

.grid-header-info-icon {
    background-color: rgb(246, 132, 2);
    font-size: 17px;
    fill: white;
    border-radius: 50%;
}

.section-header-text {
    color: rgb(92, 92, 92);
    width: 100%;
}

.MuiAccordionSummary-content {
    margin: 5px 0px !important;
    padding: 10px;
}

.MuiAccordionSummary-content.Mui-expanded {
    margin: 5px 0px !important;
    padding: 10px;
}

.MuiAccordionSummary-root {
    min-height: auto !important;
}

.accordian-custom-btn-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    width: 100%;
}